name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
    inputs:
      commit_id:
        description: 'Branch or Commit ID (optional)'
        required: false
        type: string
  schedule:
    # * is a special character in YAML so we quote this string
    # Run at 09:10 UTC every day
    - cron:  '10 09 * * *'

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo at ${{ github.event_name == 'workflow_dispatch' && inputs.commit_id || github.sha }}
      uses: actions/checkout@v4
      with:
        ref: ${{ github.event_name == 'workflow_dispatch' && inputs.commit_id || github.sha }}

    - name: Build parser
      run: cargo build --verbose
      working-directory: parser

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name: Install python test dependencies
      run: ./scripts/install-deps.sh

    - name: Disk Space Check
      run: df -h .

    # The three test steps are equivalent to just ./scripts/test-guidance.sh
    # but we want to run them separately to get better timings/logs/etc

    - name: Run Rust tests
      run: ./scripts/test-guidance.sh --rust

    - name: Disk Space Check
      run: df -h .

    - name: Run MaskBench
      run: ./scripts/test-guidance.sh --mb

    - name: Disk Space Check
      run: df -h .

    - name: Run Python Guidance tests
      run: ./scripts/test-guidance.sh --py

    - name: Disk Space Check
      run: df -h .

    - name: Build sdist
      run: maturin build --sdist --zig

    - name: Disk Space Check
      run: df -h .

    - name: Build wheel
      run: maturin build --zig

    - name: Disk Space Check
      run: df -h .

    - name: Upload sdist and wheel artifact
      uses: actions/upload-artifact@v4
      with:
        name: wheels
        path: target/wheels/*

  msrv:
    name: MSRV Check

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Rust
      uses: dtolnay/rust-toolchain@1.87.0
      with:
        components: clippy

    - name: Build parser
      run: cargo build --verbose --locked
      working-directory: parser
